<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content-center">
            <h3 class="title">
                <span>Hey!</span><br>
                Học tiếng Anh theo lộ trình của Academic cùng FSEL nhé!
            </h3>
            <p class="description">Bạn đang ở độ tuổi nào?</p>
            <div class="option">
                <div class="btn-age">
                    nhỏ hơn 13 tuổi
                </div>

                <div class="btn-age">
                    lớn hơn hoặc = 14 tuổi
                </div>
            </div>
        </div>
        <div class="pops-up">
            <h1>
                Are you sure to cancel your progress
            </h1>
            <p>As proceeding to cancel your progress, you will also agree on deleting all the unsaved progress </p>
            <div class="button">
                <button class="btn-cancel btn">Cancel anyway</button>
                <button class="btn-continue btn">Continue</button>
            </div>
        </div>
        <div class=" selector">
            <div class="selector-item">
                <img src="../../../assets/image/Oval1.svg" alt="Oval1" class="img1" class="oval1">
                <img src="../../../assets/image/Oval2.svg" alt="Oval2" class="img2" class="oval2">
            </div>
            <div class="selector-item">
                <img src="../../../assets/image/Oval1.svg" alt="Oval1" class="img1" class="oval1">
                <img src="../../../assets/image/Oval2.svg" alt="Oval2" class="img2" class="oval2">
            </div>
            <div class="selector-item">
                <img src="../../../assets/image/Oval1.svg" alt="Oval1" class="img1" class="oval1">
                <img src="../../../assets/image/Oval2.svg" alt="Oval2" class="img2" class="oval2">
            </div>
            <div class="selector-item">
                <img src="../../../assets/image/Oval1.svg" alt="Oval1" class="img1" class="oval1">
                <img src="../../../assets/image/Oval2.svg" alt="Oval2" class="img2" class="oval2">
            </div>
        </div>
        <div class="bottom">
            <div class="button">
                <button class="btn-back btn">
                    Back
                </button>
                <button class="btn-next btn">
                    Next
                </button>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>