<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="container_right_header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="container_right_center">
            <div class="title">
                <div class="button">
                    <img src="../../../assets/image/Left.svg" alt="Left">
                </div>
                <div class="title_center">
                    <h1>MOCK TEST 4</h1>

                </div>
                <div class="button">
                    <img src="../../../assets/image/Right.svg" alt="Right">
                </div>
            </div>
            <div class="content">
                <div class="content_left">
                    <h1 class="content_left_title">Skill scores:</h1>
                    <div class="content_left_score">
                        <div class="content_left_score_item">
                            <img src="../../../assets/image/Ear.svg" alt="Ear">
                            <div class="description">
                                <h1 class="description_title">Listening</h1>
                                <div class="description_score">
                                    <span class="score listen">5.5</span>
                                    <small>IELTS Score</small>
                                </div>
                                <p>Oh no, try again?</p>
                            </div>
                        </div>
                        <div class="content_left_score_item">
                            <img src="../../../assets/image/Ear.svg" alt="Ear">
                            <div class="description">
                                <h1 class="description_title speak">Speaking</h1>
                                <div class="description_score">
                                    <span class="score speak">4.0</span>
                                    <small>IELTS Score</small>
                                </div>
                                <p>Oh no, try again?</p>
                            </div>
                        </div>
                        <div class="content_left_score_item">
                            <img src="../../../assets/image/Ear.svg" alt="Ear">
                            <div class="description">
                                <h1 class="description_title writing">Writing</h1>
                                <div class="description_score">
                                    <span class="score writing">4.5</span>
                                    <small>IELTS Score</small>
                                </div>
                                <p>Oh no, try again?</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="content_right">
                    <h1 class="content_right_title">Overall score</h1>
                    <div class="svg">

                    </div>

                    <h2 class="total-score">IELTS overall band score</h2>


                    <button class="review-again">
                        Review again
                    </button>
                </div>
            </div>
        </div>


    </div>

</div>