<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="container_right_header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="container_right_center">
            <div class="header">
                <div class="learn header-item">
                    <div class="images">
                        <img src="../../../assets/image/learning1.svg" alt="learning1" class="image1">
                        <img src="../../../assets/image/learning2.svg" alt="learning2" class="image2">
                    </div>
                    <h1>Learning
                        Progress</h1>
                </div>
                <div class="todo header-item">
                    <div class="images">
                        <img src="../../../assets/image/todolist1.svg" alt="todolist1" class="image1">
                        <img src="../../../assets/image/todolist2.svg" alt="todolist2" class="image2">
                    </div>
                    <h1>To-do List
                        for Today</h1>
                </div>
                <div class="skill header-item">
                    <div class="images">
                        <img src="../../../assets/image/skill2.svg" alt="skill2" class="image1">
                        <img src="../../../assets/image/skill1.svg" alt="skill1" class="image2">
                    </div>
                    <h1>Skill
                        Diagram</h1>
                </div>
                <div class="unit header-item">
                    <div class="images">
                        <img src="../../../assets/image/unit1.svg" alt="unit1" class="image1">
                        <img src="../../../assets/image/unit2.svg" alt="unit2" class="image2">
                    </div>
                    <h1>UNIT</h1>
                </div>
            </div>

            <div class="content">
                <div class="content_left">
                    <div class="title">
                        <img src="../../../assets/image/Elip.svg" alt="Elip">
                        <h1>Learning Progress</h1>
                    </div>
                    <div class="chart">
                        Chart
                    </div>
                </div>
                <div class="content_right">
                    <div class="title">
                        <img src="../../../assets/image/Elip.svg" alt="Elip">
                        <h1>Mock Test 1 <span>Statistics</span></h1>
                    </div>
                    <div class="chart">
                        Chart
                    </div>
                    <div class="result">
                        <div class="result-item">
                            <div class="score">
                                <div class="image">
                                    <img src="../../../assets/image/Speaking.svg" alt="Speaking">
                                </div>
                                <div class="description">
                                    <h1>Speaking</h1>
                                    <p>63 %</p>
                                </div>
                            </div>
                            <!-- <p class="error">Can be improved, need help?</p> -->
                        </div>
                        <div class="result-item">
                            <div class="score">
                                <div class="image">
                                    <img src="../../../assets/image/Reading.svg" alt="Reading">
                                </div>
                                <div class="description">
                                    <h1>Reading</h1>
                                    <p>40 %</p>
                                </div>
                            </div>
                            <p class="error">Oh no, wanna review?</p>

                        </div>
                        <div class="result-item">
                            <div class="score">
                                <div class="image">
                                    <img src="../../../assets/image/Grammar.svg" alt="Grammar">
                                </div>
                                <div class="description">
                                    <h1>Grammar</h1>
                                    <p>40 %</p>
                                </div>
                            </div>
                            <p class="warning">Can be improved, need help?</p>
                        </div>
                        <div class="result-item">
                            <div class="score">
                                <div class="image">
                                    <img src="../../../assets/image/Writing.svg" alt="Writing">
                                </div>
                                <div class="description">
                                    <h1>Writing</h1>
                                    <p>55 %</p>
                                </div>
                            </div>
                            <!-- <p class="error">Can be improved, need help?</p> -->
                        </div>
                        <div class="result-item error-box">
                            <div class="score">
                                <div class="image">
                                    <img src="../../../assets/image/Ear.svg" alt="Ear">
                                </div>
                                <div class="description">
                                    <h1>Listening</h1>
                                    <p>48 %</p>
                                </div>
                            </div>
                            <p class="error">Oh no, wanna review?</p>
                        </div>
                        <div class="result-item">
                            <div class="score">
                                <div class="image">
                                    <img src="../../../assets/image/Vocabulary.svg" alt="Vocabulary">
                                </div>
                                <div class="description">
                                    <h1>Vocabulary</h1>
                                    <p>64 %</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>