<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="container_right_header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="container_right_center">
            <div class="title">
                <div class="button">
                    <img src="../../../assets/image/Left.svg" alt="Left">
                </div>
                <div class="title_center">
                    <h1>LESSON 2</h1>
                    <h2>Tên chủ đề của Unit 2</h2>
                    <div class="title_center_complete">
                        <div class="images">
                            <img src="../../../assets/image/Unlock.svg" alt="">
                        </div>
                        <p>Completed</p>
                    </div>
                </div>
                <div class="button">
                    <img src="../../../assets/image/Right.svg" alt="Right">
                </div>
            </div>
            <div class="content">
                <div class="content_left">
                    <ul class="message">
                        <li>
                            <p>
                                Event - Sự kiện
                            </p>
                        </li>
                        <li>
                            <p>
                                Equate - àm cân bằng, san bằng
                            </p>
                        </li>
                        <li>
                            <p>
                                Even - ngay cả, ngay, lại còn; bằng phẳng, điềm đạm, ngang bằng
                            </p>
                        </li>
                        <li>
                            <p>
                                Gather - tập hợp; hái, lượm, thu thập
                            </p>
                        </li>
                        <li>
                            <p>
                                His - của nó, của hắn, của ông ấy, của anh ấy; cái của nó, cái của hắn, cái của ông ấy,
                                cái của anh ấy
                            </p>

                        </li>
                        <li>
                            <p>
                                History - lịch sử, sử học
                            </p>
                        </li>
                        <li>
                            <p>
                                Event - Sự kiện
                            </p>
                        </li>
                        <li>
                            <p>
                                Event - Sự kiện
                            </p>
                        </li>
                    </ul>
                    <div class="edit">
                        <div class="btn btn-edit">
                            <img src="../../../assets/image/Edit.svg" alt="Edit">
                            <span>Words</span>
                        </div>
                        <div class="btn btn-note">
                            <img src="../../../assets/image/Note.svg" alt="Note">
                            <span>Notes</span>
                        </div>

                    </div>
                </div>
                <div class="content_right">
                    <div class="menu-item">
                        <div class="images">
                            <img src="../../../assets/image/imageLesson1.svg" alt="imageLesson" class="image1">
                            <img src="../../../assets/image/imageLesson2.svg" alt="imageLesson" class="image2">
                        </div>
                        <h1>Lesson</h1>
                    </div>
                    <div class="menu-item">
                        <div class="images">
                            <img src="../../../assets/image/imageHomeWork1.svg" alt="imageHomeWork1" class="image1">
                            <img src="../../../assets/image/imageHomeWork2.svg" alt="imageHomeWork2" class="image2">
                        </div>
                        <h1>HOMEWORK</h1>
                    </div>
                    <div class="menu-item">
                        <div class="images">
                            <img src="../../../assets/image/imageNote1.svg" alt="imageNote1" class="image1">
                            <img src="../../../assets/image/imageNote2.svg" alt="imageNote2" class="image2">
                        </div>
                        <h1>NOTES</h1>
                    </div>
                    <div class="menu-item">
                        <div class="images">
                            <img src="../../../assets/image/imageExtra1.svg" alt="imageExtra1" class="image1">
                            <img src="../../../assets/image/imageExtra2.svg" alt="imageExtra2" class="image2">
                        </div>
                        <h1>Extra
                            practice</h1>
                    </div>
                    <div class="menu-item">
                        <div class="images imageBell">
                            <img src="../../../assets/image/imageClass1.svg" alt="imageClass1" class="image1">
                            <img src="../../../assets/image/imageClass2.svg" alt="imageClass2" class="image2">
                            <div class="notify">12</div>
                        </div>
                        <h1>Class forum</h1>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>