<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="content-center">
            <div class="content_header">
                <div class="content_header_left">
                    <div class="left_icon">
                        <img src="../../../assets/image/Section1.svg" alt="ear">
                    </div>
                    <h1 class="left_h1">Section 1: Reading skill</h1>
                </div>
                <div class="content_header_right">
                    <div class="completed">
                        <h2>Total completed:</h2>
                        <h1>12/30</h1>
                    </div>
                    <div class="timeLeft">
                        <h2>Time left:</h2>
                        <h1><span>0</span>:30:15</h1>
                    </div>
                </div>
            </div>

            <div class="content_body">
                <div class="content_body_left">
                    <div class="content_body_left_header">
                        <div class="btn-back btn">
                            <img src="../../../assets/image/BtnBack.svg" alt="">
                        </div>
                        <h1>Exercise 3</h1>
                        <div class="btn-next btn">
                            <img src="../../../assets/image/BtnNext.svg" alt="">
                        </div>
                    </div>
                    <div class="content_body_left_center">
                        <h2>Read the paragraph below and see if the person, who is describing the situation, is doing
                            the right job.</h2>
                        <p>
                            NEWBURYPORT, Mass. — Donna Holaday is the kind of mayor who does not say no to an
                            invitation.
                            She shows up for lesser ribbon cuttings, at Radiant U Esthetics and the Angry Donut. She is
                            there for the dinky parades, three or four blocks to the waterfront and back. Funerals,
                            fund-raisers, National Honor Society inductions, she does them all.
                            Over four terms as mayor of Newburyport, a coastal city of around 7,000, she learned that
                            she could always perk herself up bygetting up on a podium, reflecting back the energy
                        </p>
                    </div>
                </div>

                <div class="content_body_right">
                    <div class="content_body_right_header">
                        <div class="title">
                            <div class="title_image">
                                <img src="../../../assets/image/question.svg" alt="question">
                            </div>
                            <h1>QUESTIONS:</h1>
                            <div class="sticker">
                                <img src="../../../assets/image/Sticker.svg" alt="Sticker">
                            </div>
                        </div>
                        <div class="question">
                            <img src="../../../assets/image/question1.svg" alt="question1">
                            <h2>Which most accurately paraphrases ‘messed up’?</h2>
                        </div>
                    </div>
                    <div class="content_body_right_center">
                        <div class="answer">
                            <div class="answer_group">
                                <h1>1.</h1>
                                <div class="answer_items">
                                    <div class="answer_item">He</div>
                                    <div class="answer_item">loves</div>
                                    <div class=" answer_item">Brazilian</div>
                                    <div class=" answer_item">steak</div>
                                    <div class=" answer_item">a lot</div>
                                </div>
                            </div>
                            <div class="answer_group">
                                <h1>2.</h1>
                                <div class="answer_items">
                                    <div class="answer_item">don't</div>
                                    <div class="answer_item">they</div>
                                    <div class=" answer_item">eat</div>
                                    <div class=" answer_item">pastas</div>
                                    <div class=" answer_item">the</div>
                                    <div class=" answer_item">to</div>
                                    <div class=" answer_item">the</div>
                                    <div class=" answer_item">to</div>
                                </div>
                            </div>
                            <div class="answer_group">
                                <h1>3.</h1>
                                <div class="answer_items">
                                    <div class="answer_item">He</div>
                                    <div class="answer_item">loves</div>
                                    <div class=" answer_item">Brazilian</div>
                                    <div class=" answer_item">steak</div>
                                    <div class=" answer_item">a lot</div>
                                </div>
                            </div>
                            <div class="answer_group">
                                <h1>4.</h1>
                                <div class="answer_items">
                                    <div class="answer_item">don't</div>
                                    <div class="answer_item">they</div>
                                    <div class=" answer_item">eat</div>
                                    <div class=" answer_item">pastas</div>
                                    <div class=" answer_item">the</div>
                                    <div class=" answer_item">to</div>
                                    <div class=" answer_item">the</div>
                                    <div class=" answer_item">to</div>
                                </div>
                            </div>
                            <div class="answer_group">
                                <h1>5.</h1>
                                <div class="answer_items">
                                    <div class="answer_item">He</div>
                                    <div class="answer_item">loves</div>
                                    <div class=" answer_item">Brazilian</div>
                                    <div class=" answer_item">steak</div>
                                    <div class=" answer_item">a lot</div>
                                </div>
                            </div>
                            <div class="answer_group">
                                <h1>6.</h1>
                                <div class="answer_items">
                                    <div class="answer_item">don't</div>
                                    <div class="answer_item">they</div>
                                    <div class=" answer_item">eat</div>
                                    <div class=" answer_item">pastas</div>
                                    <div class=" answer_item">the</div>
                                    <div class=" answer_item">to</div>
                                    <div class=" answer_item">the</div>
                                    <div class=" answer_item">to</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <button class="btn btn-back">
                            <h1> Back to Learn </h1>
                        </button>
                        <button class="btn btn-submit">
                            <h1> Submit </h1>
                            <img src="../../../assets/image/submitNext.svg" alt="submitNext">
                        </button>

                    </div>



                </div>
            </div>
        </div>
        <!-- <div class="pops-up">
            <h1>
                Are you sure you want to submit?
            </h1>
            <p>Are you sure you want to submit all of your answers for this section of the test? You still have some
                time left, so <span>it's a good idea to double check your answers and take a guess for any questions you
                    may have skipped!</span>
            </p>
            <div class="button">
                <button class="btn-cancel btn">Cancel anyway</button>
                <button class="btn-continue btn">Continue</button>
            </div>
        </div> -->

    </div>
    <!-- <div class="background"></div> -->
</div>