<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="container_right_header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="container_right_center">
            <div class="content">
                <div class="content_left">

                    <div class="header">
                        <img src="../../../assets/image/Close1.svg" alt="Close">
                        <img src="../../../assets/image/noteBook.svg" alt="noteBook">
                    </div>
                    <div class="body">
                        <p>
                            <span>Lesson 1:</span>
                            <br>
                            Rickrolling, alternatively Rick-rolling or Rickroll, is a prank and an Internet meme
                            involving an unexpected appearance of the music video for the 1987 Rick Astley song "Never
                            Gonna Give You Up". The meme is a type of bait and switch using a disguised hyperlink that
                            leads to the music video. When victims click on a seemingly unrelated link, the site with
                            the music video loads instead of what was expected, and in doing so they are said to have
                            been "Rickrolled".
                        </p>
                        <p> <span>Lesson 2:</span>
                            <br>
                            The meme is a type of bait and switch using a disguised hyperlink that leads to the
                            The meme is a type of bait and switch using a disguised hyperlink that leads to the music
                            video.
                            The meme is a type of bait and switch using a disguised hyperlin
                            The meme is a type of bait and switch using a disguised hyperlink that leads to the music
                            video.
                        </p>
                    </div>
                    <div class="edit">
                        <div class="btn btn-edit">
                            <img src="../../../assets/image/Edit.svg" alt="Edit">
                            <span>Words</span>
                        </div>
                        <div class="btn btn-note">
                            <img src="../../../assets/image/Note.svg" alt="Note">
                            <span>Notes</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>

</div>