<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="container_right_header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="container_right_center">
            <div class="title">
                <div class="button">
                    <img src="../../../assets/image/Left.svg" alt="Left">
                </div>
                <div class="title_center">
                    <h1>level B1</h1>
                    <h2>Final Test</h2>
                </div>
                <div class="button">
                    <img src="../../../assets/image/Right.svg" alt="Right">
                </div>
            </div>
            <div class="content">
                <div class="content_left">
                    <h1 class="content_left_title">Skill scores:</h1>
                    <div class="content_left_score">
                        <div class="content_left_score_item">
                            <img src="../../../assets/image/Vocabulary28.svg" alt="Vocabulary28">
                            <div class="description">
                                <h1>Vocabulary</h1>
                                <h2>10/30</h2>
                                <p>Oh no, try again?</p>
                            </div>
                        </div>
                        <div class="content_left_score_item">
                            <img src="../../../assets/image/Reading28.svg" alt="Vocabulary28">
                            <div class="description">
                                <h1>Reading</h1>
                                <h2>10/30</h2>
                                <p>Oh no, try again?</p>
                            </div>
                        </div>
                        <div class="content_left_score_item">
                            <img src="../../../assets/image/Grammar28.svg" alt="Grammar28">
                            <div class="description">
                                <h1>Grammar</h1>
                                <h2>10/30</h2>
                                <p>Oh no, try again?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_right">
                    <h1 class="content_right_title">Overall score</h1>
                    <div class="svg">

                    </div>

                    <h2 class="total-score">Total score:</h2>
                    <h1 class="score">30/90</h1>

                    <button class="review-again">
                        Review again
                    </button>
                </div>
            </div>
        </div>


    </div>

</div>