<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="container_right_header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="container_right_center">
            <div class="content">
                <div class="content_left">
                    <div class="top">
                        <div class="title">
                            <h1>Overall Report</h1>
                        </div>
                        <div class="total_score">
                            <div class="circle">
                                <p>30%</p>
                            </div>
                            <div class="score">
                                <h2>Total score:</h2>
                                <h1>40/120</h1>
                            </div>
                        </div>
                        <div class="homeWork">
                            <h1 class="homeWork_title">Homework rewards:</h1>
                            <div class="homeWork_group">
                                <div class="homeWork_item">
                                    <p class="homeWork_item_title">Lesson completion</p>
                                    <div class="homeWork_item_score">
                                        <img src="../../../assets/image/plusYellow.svg" alt="plusYellow">
                                        <p>68</p>
                                        <img src="../../../assets/image/oneCoin.svg" alt="oneCoin">
                                    </div>
                                </div>
                                <div class="homeWork_item">
                                    <p class="homeWork_item_title">Quest completion</p>
                                    <div class="homeWork_item_score">
                                        <img src="../../../assets/image/plusYellow.svg" alt="plusYellow">
                                        <p>150</p>
                                        <img src="../../../assets/image/oneCoin.svg" alt="oneCoin">
                                    </div>
                                </div>
                                <div class="homeWork_item">
                                    <p class="homeWork_item_title">Daily streak bonus</p>
                                    <div class="homeWork_item_score">
                                        <img src="../../../assets/image/plusYellow.svg" alt="plusYellow">
                                        <p>8</p>
                                        <img src="../../../assets/image/oneCoin.svg" alt="oneCoin">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review_answer">
                            <button>
                                <img src="../../../assets/image/loading.svg" alt="loading">
                                <span>Review answer</span>
                            </button>
                        </div>

                    </div>
                    <button class="bottom">
                        CONTINUE
                    </button>
                </div>
                <div class="content_right">
                    <div class="top">
                        <h1 class="title">STRENGTHS</h1>
                        <div class="resul_group">
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/grammar27.svg" alt="">
                                    <h1 class="resul_item_title">Grammar</h1>
                                </div>
                                <h5 class="resul_item_center">You do very well</h5>
                                <p class="resul_item_score">82%</p>
                            </div>
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/writing27.svg" alt="">
                                    <h1 class="resul_item_title">Writing</h1>
                                </div>
                                <h5 class="resul_item_center">You do very well</h5>
                                <p class="resul_item_score">88%</p>
                            </div>
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/grammar27.svg" alt="">
                                    <h1 class="resul_item_title">Grammar</h1>
                                </div>
                                <h5 class="resul_item_center">You do very well</h5>
                                <p class="resul_item_score">82%</p>
                            </div>
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/grammar27.svg" alt="">
                                    <h1 class="resul_item_title">Grammar</h1>
                                </div>
                                <h5 class="resul_item_center">You do very well</h5>
                                <p class="resul_item_score">82%</p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <h1 class="title">WEAKNESSES</h1>
                        <div class="resul_group">
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/Ear.svg" alt="Ear">
                                    <h1 class="resul_item_title">Listening</h1>
                                </div>
                                <div class="resul_item_center">
                                    <div class="resul_item_box1 resul_item_box">
                                        <div class="circle">
                                        </div>
                                        <p>
                                            Improve your skill with Extra Practice
                                        </p>
                                        <img src="../../../assets/image/Star27.svg" alt="Star27" class="icon">
                                    </div>
                                    <div class="resul_item_box2 resul_item_box">
                                        <div class="circle"></div>
                                        <p>
                                            Improve your skill with Extra Practice
                                        </p>
                                        <img src="../../../assets/image/Game27.svg" alt="Game27" class="icon">
                                    </div>
                                </div>
                                <p class="resul_item_score error">48%</p>
                            </div>
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/Ear.svg" alt="Ear">
                                    <h1 class="resul_item_title">Reading</h1>
                                </div>
                                <div class="resul_item_center">
                                    <div class="resul_item_box1 resul_item_box">
                                        <div class="circle">
                                        </div>
                                        <p>
                                            Improve your skill with Extra Practice
                                        </p>
                                        <img src="../../../assets/image/Star27.svg" alt="Star27" class="icon">
                                    </div>

                                </div>
                                <p class="resul_item_score warning">55%</p>
                            </div>
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/Ear.svg" alt="Ear">
                                    <h1 class="resul_item_title">Reading</h1>
                                </div>
                                <div class="resul_item_center">
                                    <div class="resul_item_box1 resul_item_box">
                                        <div class="circle">
                                        </div>
                                        <p>
                                            Improve your skill with Extra Practice
                                        </p>
                                        <img src="../../../assets/image/Star27.svg" alt="Star27" class="icon">
                                    </div>

                                </div>
                                <p class="resul_item_score warning">55%</p>
                            </div>
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/Ear.svg" alt="Ear">
                                    <h1 class="resul_item_title">Reading</h1>
                                </div>
                                <div class="resul_item_center">
                                    <div class="resul_item_box1 resul_item_box">
                                        <div class="circle">
                                        </div>
                                        <p>
                                            Improve your skill with Extra Practice
                                        </p>
                                        <img src="../../../assets/image/Star27.svg" alt="Star27" class="icon">
                                    </div>

                                </div>
                                <p class="resul_item_score warning">55%</p>
                            </div>
                            <div class="resul_item">
                                <div class="resul_item_left">
                                    <img class="resul_item_image" src="../../../assets/image/Ear.svg" alt="Ear">
                                    <h1 class="resul_item_title">Reading</h1>
                                </div>
                                <div class="resul_item_center">
                                    <div class="resul_item_box1 resul_item_box">
                                        <div class="circle">
                                        </div>
                                        <p>
                                            Improve your skill with Extra Practice
                                        </p>
                                        <img src="../../../assets/image/Star27.svg" alt="Star27" class="icon">
                                    </div>

                                </div>
                                <p class="resul_item_score warning">55%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>