<div class="wrapper">
    <div class="app-nav-menu-left">
        <app-nav-menu-left></app-nav-menu-left>
    </div>
    <div class="container_right">
        <div class="container_right_header">
            <app-content-right-header></app-content-right-header>
        </div>
        <div class="container_right_center">
            <div class="header">
                <div class="learn header-item">
                    <div class="images">
                        <img src="../../../assets/image/learning1.svg" alt="learning1" class="image1">
                        <img src="../../../assets/image/learning2.svg" alt="learning2" class="image2">
                    </div>
                    <h1>Learning
                        Progress</h1>
                </div>
                <div class="todo header-item">
                    <div class="images">
                        <img src="../../../assets/image/todolist1.svg" alt="todolist1" class="image1">
                        <img src="../../../assets/image/todolist2.svg" alt="todolist2" class="image2">
                    </div>
                    <h1>To-do List
                        for Today</h1>
                </div>
                <div class="skill header-item">
                    <div class="images">
                        <img src="../../../assets/image/skill2.svg" alt="skill2" class="image1">
                        <img src="../../../assets/image/skill1.svg" alt="skill1" class="image2">
                    </div>
                    <h1>Skill
                        Diagram</h1>
                </div>
                <div class="unit header-item">
                    <div class="images">
                        <img src="../../../assets/image/unit1.svg" alt="unit1" class="image1">
                        <img src="../../../assets/image/unit2.svg" alt="unit2" class="image2">
                    </div>
                    <h1>UNIT</h1>
                </div>
            </div>

            <div class="content">
                <div class="content_left">
                    <div class="title">
                        <img src="../../../assets/image/Elip.svg" alt="Elip">
                        <h1>Skill Diagram</h1>
                    </div>
                    <p>By Overall</p>
                </div>
                <div class="content_center">
                    <div class="chart"> CHART</div>
                </div>
                <div class="content_right">
                    <button>
                        View detail
                    </button>
                </div>
            </div>
        </div>


    </div>

</div>